/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;1,9..144,200&display=swap');

$font-family-sans-serif: "Commissioner", sans-serif !default;
$font-family-monospace: "Fira+Code", monospace;
$font-family-serif: "Fraunces", serif !default;

$teal: teal;
$green: #93c54b;